@import "tailwindcss";

@theme {
    --color-primary : #FFCA27;
    --color-background: #303030;
    --color-background2: #3f3f3f;
    --color-background-secondary: #212121;
    --color-background-accent: #171717;
    --color-text-primary: #828282;
    --color-text-secondary: #d8d8d8;
    --color-text-accent: #c3c3c3;
    --color-text-accent2: #1f1f1f;
    --color-green-rytm: #6a7252;

    --text-title: 24px; 
    --text-base: 16px;
    --text-tiny: 12px;
    --text-tiny-small: 10px

    --radius-primary: 15px;
    --radius-secondary: 10px;
    --radius-covers: 5px;

    --font-dana-reg: "dana-reg";
    --font-dana-base: "dana-base";
    --font-dana-bold: "dana-bold";
    --font-kalameh-reg: "kalameh-reg";
    --font-kalameh-base: "kalameh-base";
    --font-kalameh-bold: "kalameh-bold";
    --font-kalameh-extra: "kalameh-extra";

    --breakpoint-base: 32.5rem;

    --spacing-base: 32.5rem;

}

@font-face {
    font-family: dana-reg;
    src: url("./assets/fonts/dana/DanaFaNum-Regular.woff2") format("woff2");
}
@font-face {
    font-family: dana-base;
    src: url("./assets/fonts/dana/DanaFaNum-Medium.woff2") format("woff2");
}
@font-face {
    font-family: dana-bold;
    src: url("./assets/fonts/dana/DanaFaNum-DemiBold.woff2") format("woff2");
}


@font-face {
    font-family: kalameh-reg;
    src: url("./assets/fonts/kalameh/Kalameh-Regular.ttf") format("truetype");
}
@font-face {
    font-family: kalameh-base;
    src: url("./assets/fonts/kalameh/Kalameh-Medium.ttf") format("truetype");
}
@font-face {
    font-family: kalameh-bold;
    src: url("./assets/fonts/kalameh/Kalameh-Bold.ttf") format("truetype");
}
@font-face {
    font-family: kalameh-extra;
    src: url("./assets/fonts/kalameh/Kalameh-ExtraBold.ttf") format("truetype");
}

